<section id="contact" class="contact">

  <h2 class="title">
    Let's Connect
  </h2>

  <p class="subtitle">
    Open to UI Developer, Frontend Developer and
    Angular Developer opportunities.
  </p>

  <div class="contact-container">

    <!-- Left -->

    <div class="contact-info">

      <div class="info-card">

        <h3>📧 Email</h3>

        <p>virenshinde332@gmail.com</p>

      </div>

      <div class="info-card">

        <h3>📱 Phone</h3>

        <p>+91 9921912001</p>

      </div>

      <div class="info-card">

        <h3>📍 Location</h3>

        <p>Pune, Maharashtra</p>

      </div>

      <div class="status">

        <span></span>

        Available For Work

      </div>

    </div>

    <!-- Right -->

    <form class="contact-form">

      <input
        type="text"
        placeholder="Your Name">

      <input
        type="email"
        placeholder="Your Email">

      <textarea
        rows="6"
        placeholder="Your Message"></textarea>

      <button>
        Send Message 🚀
      </button>

    </form>

  </div>

</section>