<footer class="footer">

  <div class="footer-content">

    <h2>
      Virendra Shinde
    </h2>

    <p>
      UI Developer • Angular Developer • Full Stack Java Developer
    </p>

    <div class="social-links">

      <a href="https://github.com/virenshinde332-source"
         target="_blank">
         GitHub
      </a>

      <a href="https://www.linkedin.com/in/virendra-shinde-3032a3322"
         target="_blank">
         LinkedIn
      </a>

      <a href="mailto:virenshinde332@gmail.com">
         Email
      </a>

    </div>

    <button class="top-btn"
            (click)="scrollTop()">

      ↑ Back To Top

    </button>

  </div>

  <div class="copyright">

    © 2026 Virendra Shinde.
    Built with Angular ❤️

  </div>

</footer>