.footer {

  padding: 80px 10% 30px;

  text-align: center;

  border-top:
  1px solid rgba(255,255,255,.08);

  background:
  rgba(255,255,255,.02);

  backdrop-filter: blur(20px);
}

.footer-content h2 {

  font-size: 2rem;

  margin-bottom: 10px;

  background:
  linear-gradient(
    90deg,
    #38bdf8,
    #8b5cf6
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-content p {

  color: #94a3b8;

  margin-bottom: 30px;
}

.social-links {

  display: flex;

  justify-content: center;

  gap: 20px;

  flex-wrap: wrap;

  margin-bottom: 30px;
}

.social-links a {

  color: white;

  text-decoration: none;

  padding: 12px 20px;

  border-radius: 30px;

  background:
  rgba(255,255,255,.05);

  transition: .3s;
}

.social-links a:hover {

  transform: translateY(-5px);

  box-shadow:
  0 0 20px rgba(56,189,248,.4);

  color: #38bdf8;
}

.top-btn {

  padding: 12px 25px;

  border: none;

  border-radius: 30px;

  cursor: pointer;

  background: #38bdf8;

  color: white;

  font-weight: 600;

  transition: .3s;
}

.top-btn:hover {

  transform: translateY(-5px);

  box-shadow:
  0 0 25px rgba(56,189,248,.5);
}

.copyright {

  margin-top: 40px;

  color: #64748b;

  font-size: .9rem;
}