.navbar{
  position:fixed;
  top:20px;

  width: calc(100% - 30px);
  max-width: 1200px;
  left:50%;
  transform:translateX(-50%);
  padding:15px 40px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  border-radius:50px;

  z-index:1000;
}

.logo{
  font-size:1.5rem;
  font-weight:700;
  color:#38bdf8;
}

ul{
  display:flex;
  gap:30px;
  list-style:none;
}

.navbar a{

  color:white;

  text-decoration:none;

  transition:.3s;

  position:relative;
}

/* Active Link */

.navbar a.active{

  color:#38bdf8;
}

/* Underline */

.navbar a.active::after{

  content:'';

  position:absolute;

  bottom:-8px;
  left:0;

  width:100%;
  height:3px;

  border-radius:10px;

  background:
  linear-gradient(
    90deg,
    #38bdf8,
    #8b5cf6
  );

  box-shadow:
  0 0 10px #38bdf8;
}

/* Mobile Drawer */

.mobile-menu {

  position: fixed;

  top: 90px;
  left: -100%;

  width: 100%;
  height: calc(100vh - 90px);

  background: rgba(15,23,42,.98);

  backdrop-filter: blur(20px);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 50px;

  gap: 30px;

  transition: left .4s ease;

  z-index: 999;
}

.mobile-menu a {

  color: white;

  text-decoration: none;

  font-size: 1.2rem;

  transition: .3s;
}

.mobile-menu a:hover {

  color: #38bdf8;
}

.mobile-menu.active {

  left: 0;
}

/* Mobile */

@media (max-width:768px){

  .navbar{

    width:95%;

    padding:15px 25px;

    background: rgba(15,23,42,.75);

    backdrop-filter: blur(20px);

    border:1px solid rgba(255,255,255,.08);
  }

  .nav-links{

    display:none !important;
  }

  .menu-btn{

    display:block !important;

    font-size:2rem;

    color:white;

    cursor:pointer;

    z-index:1001;
  }

}