<section id="hero" class="hero">

  <div class="content">

    <h4>Hello, I'm</h4>

    <h1>
      Virendra
      <span class="gradient-text">
        Shinde
      </span>
    </h1>

   <h2 class="typing-container">
  {{ currentText }}
  <span class="cursor">|</span>
</h2>

    <p>
      Building beautiful, modern and responsive
      web applications.
    </p>

    <div class="buttons">

  <a href="#projects">
    <button class="primary-btn">
      View Projects
    </button>
  </a>

  <a href="/Virendra_resume.pdf" download>
    <button class="outline-btn">
      Download Resume
    </button>
  </a>

</div>
  </div>

</section>