.timeline {

  padding: 120px 10%;
  position: relative;
}

.timeline .title {

  text-align: center;
  margin-bottom: 80px;

  font-size: 3rem;

  background: linear-gradient(
    90deg,
    #38bdf8,
    #8b5cf6
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.timeline-container {

  position: relative;
  max-width: 900px;
  margin: auto;
}

.timeline-container::before {

  content: '';

  position: absolute;

  left: 20px;
  top: 0;

  width: 3px;
  height: 100%;

  background: linear-gradient(
    #38bdf8,
    #8b5cf6
  );
}

.timeline-item {

  position: relative;

  padding-left: 70px;
  margin-bottom: 50px;
}

.timeline-dot {

  position: absolute;

  left: 8px;
  top: 10px;

  width: 25px;
  height: 25px;

  border-radius: 50%;

  background: #38bdf8;

  box-shadow:
    0 0 10px #38bdf8,
    0 0 25px #38bdf8;
}

.timeline-content {

  padding: 25px;

  border-radius: 20px;

  background: rgba(255,255,255,.05);

  backdrop-filter: blur(20px);

  border: 1px solid rgba(255,255,255,.1);

  transition: .4s;
}

.timeline-content:hover {

  transform: translateX(10px);

  box-shadow:
    0 0 25px rgba(56,189,248,.2);
}

.timeline-content span {

  color: #38bdf8;
  font-weight: 600;
}

.timeline-content h3 {

  margin: 10px 0;
  color: white;
}

.timeline-content p {

  color: #94a3b8;
  line-height: 1.7;
}

@media(max-width:768px){

  .timeline .title{
    font-size:2.2rem;
  }

  .timeline-item{
    padding-left:60px;
  }
}